.main-container {
  padding: 16px 10vw;

  @media (max-width: 1023px) {
    padding: 24px 5vw;
  }
}

.bar-graph {
  max-width: 70%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
