.containerFluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title {
  padding-bottom: 15px;
}

.subTitle {
  padding-bottom: 50px;
}

.icon {
  font-size: 60px;
  padding-bottom: 40px;
}

.rowCard {
  text-align: center;
  width: 80%;
}

.card {
  padding: 0 20px;
}
