.containerFluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 128px;

  h2 {
    padding-bottom: 15px;
    font-size: clamp(20px, 5vw, 30px);
    line-height: 1.15;
    font-weight: 600;
  }

  h3 {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: 500;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 64px;
  }
}

.icon {
  font-size: 60px;
  padding-bottom: 40px;
}

.rowCard {
  width: 100%;
  text-align: center;
}