.search-result {
  flex-grow: 1;

  @media (max-width: 886px) {
    width: 90vw;
  }

  @media (max-width: 768px) {
    // display: none;
  }
}

.price {
  font-weight: 600;

  @media (max-width: 768px) {
    display: none;
  }
}

.results-container {
  margin-bottom: 20px;
}
