#create-booking-page {
    padding: 16px 32px;

    @media(min-width: 568px) {
        padding: 24px 48px;
    }
}

.main-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

    .passenger-info {
        border: 1px solid #DDD;
        border-radius: 4px;
        flex: 1 0 auto;
        max-width: 100%;
    }

    .trip-summary {
        padding: 25px;
        border: 1px solid #DDD;
        border-radius: 4px;

        h2 {
            margin-bottom: 20px;
        }

    }
}