.main-container {
  padding: 16px 5vw;

  @media (max-width: 1023px) {
    padding: 20px 1vw;
  }

  .range-picker {
    min-width: 20%;
  }

  .buttons {
    max-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 768px) {
      max-width: 100%;
      justify-content: space-evenly;
    }
  }
}
