.manifest {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  font-size: 14px;
  font-family: Arial, serif;

  h1 {
    max-width: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    :nth-child(1) {
      width: 32px;
    }
    :nth-child(2) {
    }

    th,
    td {
      padding: 5px;
      border: 1px solid black;
      text-align: center;
      font-weight: 400;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  section.main {
    width: 100%;
  }

  section.footer {
    align-items: start;

    .signature {
      align-self: end;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: center;
      }
    }
  }
}
