.sso-buttons {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sso-button {
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}

.text {
  overflow: hidden;
  text-align: center;
}

.text::before,
.text::after {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text::before {
  right: 0.5em;
  margin-left: -50%;
}

.text::after {
  left: 0.5em;
  margin-right: -50%;
}
