.main-container {
  padding: 16px 18vw 40px;

  @media (max-width: 1023px) {
    padding: 24px 10vw;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 819px) {
      flex-direction: column;
    }
  }

  p {
    padding: 0 10px 0 10px;
  }
}

.title {
  margin-top: 40px;
}

.card {
  max-width: 300px;
  margin: 5px;
  flex: 0 0 33.333333%;
}

@media only screen and (max-width: 819px) {
  .image {
    height: 256px;
  }
}
