.main-container {
  padding: 16px 5vw;

  @media (max-width: 1023px) {
    padding: 24px 5vw;
  }

  .title {
    font-size: 25px;
  }

  .download-btn {
    margin-bottom: 25px;
  }

  .error-text {
    text-align: center;
  }

  .no-padding {
    padding: 0;
  }
}
